footer {
  background-color: #232323;
  color: #FFF;
  font-size: .9em;
  padding: 2em 4em;

  & p {
    padding: 0;
  }

  & hr {
    width: calc(100% + 8em);
    margin: 2em 0 2em -4em;
  }

  & .findingfutures {
    font-size: 12px;
    text-align: center;

    & a {
      color: #a2d565;
      text-decoration: none;
    }
  }
}
