footer {
  background-color: #785C4F;
  color: #FFF;
  font-size: .9em;
  padding: 15rem 4rem 0 4rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  position: relative;
  grid-row-gap: 1rem;

  @media (max-width: 1024px) {
    & {
      grid-template-columns: 1fr;
      padding-top: 5rem;
    }
  }

  & svg {
    position: absolute;
    top: 0;
    width: 102vw;
    @media (max-width: 1024px) {
      & {
        width: 100vw;
      }
    }
  }

  .footer_p {
    margin-left: 0;
    margin-right: auto;

    & img {
      margin-left: 0;
      width: 40%;
    }

    & p {
      padding: 0;
      width: 100%;
      margin: 1rem;
      margin-left: 0;
      margin-top: 0;

      @media(max-width: 700px){
        & {
          margin: 0;
          margin-left: 0;
        }
      }
    }
  }

 & h3 {
   margin-top: 0;
 }

  & a {
    text-decoration: none;
    color: #4400ff;
  }

  & .success {
    background-color: #66bb77;
    padding: .5rem;
    border-radius: 5px;
    margin: 0;
    width: calc(100% - 1rem);
  }

  & .error {
    background-color: #dd3344;
    padding: .5rem;
    border-radius: 5px;
    margin: 0;
    width: calc(100% - 1rem);
  }

  & input {
    width: calc(100% - 1rem);
    border: #4400ff;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: .4rem;
    margin-top: .2rem
  }

  & textarea {
    width: calc(100% - 1rem);
    border: #4400ff;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: .4rem;
    margin-top: .2rem;
    resize: vertical;
    height: 150px;
  }

  & button {
    background-color: #62A462;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: .8rem;
    padding: .3rem 1rem;
    border-radius: 4px;
    transition: background-color 150ms ease;

    &:hover {
      box-shadow: 0 0 5px #00000040;
      background-color: #A7D069;
      cursor: pointer;
      transition: background-color 150ms ease;
    }
  }

  & hr {
    width: calc(100% + 8rem);
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin-left: -4rem;

    @media (max-width: 1024px) {
      & {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 100%;
        margin: auto;
      }
    }
  }
}

@media (max-width: 500px) {
  .logo_footer img {
    width: 100%;
    margin-top: 2em;
  }
  .footer_bilde {
    width: 100%;
  }
}

.findingfutures {
  font-size: 12px;
  text-align: center;
  background-color: #232323;
  width: 100vw;
  margin: 0;
  padding: 1rem;

  & a {
    color: #a2d565;
    text-decoration: none;
  }

  @media (max-width: 1024px) {
    & {
      width: 100%;
      padding: .5rem 0;
    }
  }
}

@media (max-width: 500px) {
  .footer_p {
    grid-row: 2;
  }
  .contact_form {
    grid-row: 1;
  }
  .logo_footer {
    text-align: center;
  }
}
