footer {
  background-color: #232323;
  color: #FFF;
  font-size: .9em;
  padding: 2em 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & p {
    padding: 0;
    width: 100%;
    margin: 1rem;
    margin-top: 0;
  }

  & a {
    text-decoration: none;
    color: #4400ff;
  }

  & .success {
    background-color: #66bb77;
    padding: .5rem;
    border-radius: 5px;
    margin: 0;
    width: calc(100% - 1rem);
  }

  & .error {
    background-color: #dd3344;
    padding: .5rem;
    border-radius: 5px;
    margin: 0;
    width: calc(100% - 1rem);
  }

  & input {
    width: 100%;
    border: #4400ff;
    border-radius: 5px;
    width: 100%;
    padding: .5rem;
    margin-bottom: .4rem
  }

  & textarea {
    width: 100%;
    border: #4400ff;
    border-radius: 5px;
    width: 100%;
    padding: .5rem;
    margin-bottom: .4rem;
    resize: vertical;
    height: 150px;
  }

  & hr {
    width: calc(100% + 8em);
    margin: 2em 0 2em -4em;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  & .findingfutures {
    font-size: 12px;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    & a {
      color: #a2d565;
      text-decoration: none;
    }
  }
}
