footer {
  background-color: #785C4F;
  color: #FFF;
  font-size: .9em;
  padding: 15rem 4rem 0 4rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  position: relative;
  grid-row-gap: 1rem;

  & svg {
    position: absolute;
    top: 0;
    width: 102vw;
  }

  & p {
    padding: 0;
    width: 100%;
    margin: 1rem;
    margin-top: 0;
  }

  & a {
    text-decoration: none;
    color: #4400ff;
  }

  & .success {
    background-color: #66bb77;
    padding: .5rem;
    border-radius: 5px;
    margin: 0;
    width: calc(100% - 1rem);
  }

  & .error {
    background-color: #dd3344;
    padding: .5rem;
    border-radius: 5px;
    margin: 0;
    width: calc(100% - 1rem);
  }

  & input {
    width: calc(100% - 1rem);
    border: #4400ff;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: .4rem;
    margin-top: .2rem
  }

  & textarea {
    width: calc(100% - 1rem);
    border: #4400ff;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: .4rem;
    margin-top: .2rem;
    resize: vertical;
    height: 150px;
  }

  & hr {
    width: calc(100% + 8rem);
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin-left: -4rem;
  }
}

.findingfutures {
  font-size: 12px;
  text-align: center;
  background-color: #232323;
  width: 100vw;
  margin: 0;
  padding: 1rem;

  & a {
    color: #a2d565;
    text-decoration: none;
  }
}
