nav {
  padding: 1.5rem;
  width: auto;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  background-color: #FFF;
  top: 0;

  & ul {
    display: inline-block;
    padding: 0;
  }

  & a {
    padding: .5rem 1.5rem;
    text-decoration: none;
    color: #232323;
  }
}

.nav_background {
  width: 100%;
  box-shadow: 0 0 6px #00000040;
  text-align: left;
  position: fixed;
  margin-top: 0;
  z-index: 10000;
}

.pil {
  font-size: 3.5em;
  color: #FFF;
  width: 10%;
  margin: 1rem 45%;
  text-align: center;
  position: relative;
  z-index: 1000;
  text-shadow: 0 0 7px #00000070;
}

.understrek {
  position: relative;
  text-decoration: none;

  &:after {
    width: 100%;
    transform: scale(0);
    content: '';
    height: 1px;
    background-color: #232323;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: transform 300ms ease;
  }

  &:hover:after {
     transform: scale(1);
     transition: transform 300ms ease;
     transform-origin: center;
   }
}

.understrek_dropdown {
  position: relative;
  text-decoration: none;

  &:after {
    width: 70%;
    transform: scale(0);
    content: '';
    height: 1px;
    background-color: #232323;
    position: absolute;
    left: 15%;
    bottom: -3px;
    transition: transform 300ms ease;
  }

  &:hover:after {
     transform: scale(1);
     transition: transform 300ms ease;
     transform-origin: center;
     width: 70%;
   }
}

.dropdown {
  position: relative;
  display: inline-block;
  color: #232323;

  &:hover .dropdown_content {
     transform: scaleY(1);
     transition: transform 300ms ease;

     & a {
       opacity: 1;
     }
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 250ms;
  }

  &:hover .right {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  & span {
    cursor: pointer;
    transition: 250ms;
    margin-left: .3em;

    &:hover .right {
      transition: 250ms;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

i {
  border: solid #232323;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: .25em;
  margin-bottom: .15em;
  margin-right: .3em;
}

.dropdown_content {
  transform-origin: top;
  transform: scaleY(0);
  margin-left: -25px;
  transition: transform 250ms ease;
  position: absolute;
  width: auto;
  background-color: #FFFFFF;
  z-index: 1;
  overflow: hidden;
  text-align: left;

  & a {
    font-size: .9em;
    transition: 250ms;
    color: #232323;
    opacity: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  & li {
    margin: .8em 0;
  }
}

.topImage {
  background-image: url('/assets/bilder/aalesund3.png');
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 60rem;
}

header {
  margin-bottom: -4rem;
  height: 40rem;
  position: relative;

  & svg {
    width: 102vw;
    position: absolute;
    z-index: 10;
    bottom: -5px;
    left: -10px;
    @media (max-width: 1024px) {
      & {
        left: 0;
        width: 100vw;
      }
    }
  }

  & h1 {
    margin-top: 14rem;
    font-family: 'Oswald';
    width: 100%;
    color: #FFF;
    font-size: 5rem;
    font-weight: 100;
    text-shadow: 0 0 7px #00000070;
    text-align: center;
  }
}

/* navbar mobil */

.nav_mobil {
  overflow: hidden;
  background-color: #FFF;
  position: relative;
}

.nav_mobil #nav_linkar {
  display: none;
}

.nav_mobil a {
  color: #232323;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav_mobil a.ham_ikon {
  background: #FFF;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#nav_linkar {
  transition: width 2s;
  text-align: center;
}

.active {
  background-color: #FFF;
  color: white;
}
