nav {
  padding: 1.5rem;
  width: auto;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  background-color: #FFF;
  top: 0;

  & ul {
    display: inline-block;
  }

  & a {
    margin: 1.5rem;
    text-decoration: none;
    color: #232323;
  }
}

.nav_background {
  width: 100%;
  box-shadow: 0 0 6px #00000040;
  text-align: left;
  position: fixed;
  margin-top: 0;
  z-index: 10000;
}

.background {
  height: 85vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1968;
  background-image: url('/assets/bilder/aalesund3.jpg');
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.pil_breidd {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.pil {
  font-size: 5em;
  color: #FFF;
  margin-top: 1em;
}

.pil_under {
  margin-top: 5em;
}

.fa-arrow-circle-up {
  font-size: 5em;
  color: #232323;
  margin-top: .7em;
  margin-bottom: .5em;
}

.understrek {
  position: relative;
  text-decoration: none;

  &:after {
    width: 100%;
    transform: scale(0);
    content: '';
    height: 1px;
    background-color: #232323;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: transform 300ms ease;
  }

  &:hover:after {
     transform: scale(1);
     transition: transform 300ms ease;
     transform-origin: center;
   }
}

.dropdown {
  position: relative;
  display: inline-block;
  color: #232323;

  &:hover .dropdown_content {
     transform: scaleY(1);
     transition: transform 300ms ease;

     & a {
       opacity: 1;
     }
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 250ms;
  }

  &:hover .right {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  & span {
    cursor: pointer;
    transition: 250ms;
    margin-left: .3em;

    &:hover .right {
      transition: 250ms;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

i {
  border: solid #232323;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: .25em;
  margin-bottom: .15em;
  margin-right: .3em;
}

.dropdown_content {
  transform-origin: top;
  transform: scaleY(0);
  margin-left: -25px;
  transition: transform 250ms ease;
  position: absolute;
  width: auto;
  background-color: #FFFFFF;
  z-index: 1;
  overflow: hidden;
  text-align: left;

  & a {
    font-size: .9em;
    transition: 250ms;
    margin-left: -1.6em;
    color: #232323;
    opacity: 0;
  }

  & li {
    margin: .8em;
  }
}

header {
  margin-bottom: -4rem;
  height: 60vh;
  position: relative;

  & img {
    width: 102vw;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: -10px;
  }

  & h1 {
    margin-top: 14rem;
    width: 100%;
    color: #FFF;
    font-size: 5rem;
    font-weight: 100;
    text-shadow: 0 0 7px #00000070;
    text-align: center;
  }
}
