.grid_om {
  grid-template-columns: 1fr 2fr;
}

h1 {
  grid-row: 1;
  grid-column: 1/3;
}

p {
  grid-row: 2;
  grid-column: 1;
}

.kalle_bilde {
  grid-row: 2;
  grid-column: 2;
}
img {
  width: 10vw;
}
