.grid_om {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  grid-row: 1;
  grid-column: 1/3;
}

p {
  grid-row: 1;
  grid-column: 2;
}

.kalle_bilde {
  grid-row: 1;
  grid-column: 2/3;
}
img {
  width: 100%;
}
