
.grid_om {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  grid-row: 1;
  grid-column: 1;
}

p {
  grid-row: 2;
  grid-column: 1;
  color: red;
}

.kalle_bilde {
  grid-row: 2;
  grid-column: 2;
}
img {
  width: 100%;
}
