@charset "UTF-8";
@font-face {
  font-family: Lato;
  src:  url('../fonts/lato/lato-regular.woff2') format('woff2'),
        url('../fonts/lato/lato-regular.woff') format('woff');
}

@import 'footer';
@import 'header';

.grid_om {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  grid-row: 1;
  grid-column: 1;
}

p {
  grid-row: 2;
  grid-column: 1;
}
