@charset "UTF-8";
@font-face {
  font-family: Lato;
  src:  url('../fonts/lato/lato-regular.woff2') format('woff2'),
        url('../fonts/lato/lato-regular.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Oswald');

@import 'footer';
@import 'header';
@import 'om_kalle';

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #FFF;
  background-color: #002323;
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  height: 100%;
}

::selection {
  color: #FFF;
  background: #232323;
}

main {
  padding-top: 3rem;
}

.homeMain {
  padding-top: 60rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 5rem;
  margin-top: 4em;
}

 h2 {
  grid-column: 1/4;
  grid-row: 1;
  font-weight: 250;
  font-size: 2.2em;
  margin: auto;
  margin-bottom: .5em;
  margin-top: .5em;
  display: block;
}


p {
  grid-column: 2/5;
  grid-row: 2;
  font-size: 1.25em;
  margin-left: 2em;
  width: 60%;
  line-height: 1.4em;
  display: inline-block;
}

.info {
	grid-column: 2 / 5;

  & .info_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 0 15px #00000070;
    background-color: #186359;
    border-radius: 7px;

    & .breidd {
    	padding: 1em;
    	border-right: 1px #23232350 solid;
      display: grid;
      margin-bottom: 1em;
      margin-top: 1em;
      grid-auto-rows: 1fr 1fr 2fr;

      & .ikon {
        margin: auto;
        border: none;
        font-size: 2rem;
        margin-bottom: 0;
      }

      & .title {
      	font-size: 1.5rem;
        margin: auto;
        margin-top: 0;
      }

      & .tekst {
      	font-size: 1rem;
        margin: 0 1rem;
        text-align: center;
      }
    }

    & h2 {
      grid-column: 1 / 4;
    }
  }
}

.bilder_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5em;
  background-color: #F1F1E6;
  position: relative;

  & .first-svg {
    width: 102vw;
    fill: #F1F1E6;
    grid-column: 1 / 4;
    transform: rotate(180deg);
    margin-left: -4px;
    margin-top: -4px;
    margin-bottom: 4rem;
  }

  & .last-svg {
    width: 102vw;
    fill: #F1F1E6;
    grid-column: 1 / 4;
    margin-bottom: -4px;
    margin-top: 4rem;
  }

  & img {
    width: 100%;
    display: block;
    margin-bottom: .5em;
  }
}

@media (max-width: 1366px) {
  h1 {
    margin-top: 2em;
    font-size: 4em;
  }
  .pil {
    font-size: 4.5em;
  }
  .tekst {
    margin-bottom: 2em;
  }
  .om_p {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em,
  }
  #opp {
    height: 45rem;
  }
  .homeMain {
    padding-top: 47rem;
  }
  h2 {
    margin-top: .8em;
  }
  .info_grid {
    margin-bottom: .5em;
  }
}

@media (max-width: 1024px) {
  nav {
    font-size: 0.8em;
  }
  footer {
    font-size: 0.8em;
  }
  .bilder_galleri {
    grid-template-columns: 1fr 1fr 1fr;
  }
  p {
    line-height: 1.4em;
    font-size: 1em;
  }
}

@media (max-width: 520px) {
  .bilder_galleri {
    grid-template-columns: 1fr;
  }
}
