@charset "UTF-8";
@font-face {
  font-family: Lato;
  src:  url('../fonts/lato/lato-regular.woff2') format('woff2'),
        url('../fonts/lato/lato-regular.woff') format('woff');
}

@import 'footer';

html {
  height: 100%;
}
body {
font-family: "Lato", sans-serif;
text-decoration: none;
color: #232323;
overflow-x: hidden;
max-width: 100vw;
margin: 0;
height: 100%;
}

::selection {
  color: #FFF;
  background: #232323;
}

nav {
  padding: 1rem;
  width: auto;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  background-color: #FFF;
  top: 0;
}

nav ul {
  display: inline-block;
}

nav a {
  margin: 1.5rem;
  text-decoration: none;
  color: #232323;
}

.nav_background {
  width: 100%;
  box-shadow: 0 2px 4px #00000020;
  text-align: left;
  position: fixed;
  margin-top: 0;
}



.background {
  height: 85vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1968;
  background-image: url('/assets/bilder/loftesnesbrui.jpg');
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  margin-top: 4em;
  width: 100%;
  color: #FFF;
  font-size: 4.5em;
  font-weight: 100;
  text-shadow: 1.5px 1.5px #23232350;
  text-align: center;
}

.pil_breidd {
  width: 100%;
  text-align: center;
}
.pil {
  font-size: 5em;
  color: #FFF;
  margin-top: 1em;
}

.pil_under {
  margin-top: 5em;
}

.fa-arrow-circle-up {
  font-size: 5em;
  color: #232323;
  margin-top: .7em;
  margin-bottom: .5em;
}


 .understrek::after {
  width: 100%;
  transform: scale(0);
  content: '';
  height: 1px;
  background-color: #232323;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: transform 300ms ease;
}

 .understrek {
  position: relative;
  text-decoration: none;
}

.understrek:hover:after {
     transform: scale(1);
     transition: transform 300ms ease;
     transform-origin: center;
 }


 .svart_understrek::after {
  width: 100%;
  transform: scale(0);
  content: '';
  height: 1px;
  background-color: #FFF;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: transform 300ms ease;
}

 .svart_understrek {
  position: relative;
  text-decoration: none;
}

.svart_understrek:hover:after {
     transform: scale(1);
     transition: transform 300ms ease;
     transform-origin: center;
 }


.dropdown {
  position: relative;
  display: inline-block;
  color: #232323;
}

.dropdown span {
  cursor: pointer;
  transition: 250ms;
  margin-left: .3em;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: 250ms;
}

.dropdown span:hover .right {
  transition: 250ms;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown:hover .right {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

i {
  border: solid #232323;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: .25em;
  margin-bottom: .15em;
  margin-right: .3em;
}

.dropdown_content {
  transform-origin: top;
  transform: scaleY(0);
  margin-left: -25px;
  transition: transform 300ms ease;
  position: absolute;
  width: auto;
  background-color: #23232380;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden;
  text-align: left;
}

.dropdown_content a {
  background-size: 0 0;
  font-size: .9em;
  transition: 250ms;
  margin-left: -1.6em;
  color: #FFF;
  text-shadow: 1.5px 1.5px #23232350;
}

.dropdown_content li {
  margin: .8em;
}

.dropdown:hover .dropdown_content {
   transform: scaleY(1);
   transition: transform 300ms ease;
}
header {
  margin-bottom: -4rem;
}
main {
  padding-top: 3rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 5rem;
}

 h2 {
  grid-column: 1;
  grid-row: 1;
  font-weight: 250;
  font-size: 3em;
  border-bottom: 1.5px solid #232323;
  display: inline-block;
}


p {
  grid-column: 2/5;
  grid-row: 2;
  font-size: 1.25em;
  margin-left: 2em;
  width: 60%;
  line-height: 1.4em;
  display: inline-block;
}

.info {
	grid-column: 2/5;
  margin-right: 2em;
  grid-row: 1;
  margin-left: 2em;
}
.info_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 2px 4px #00000040;
}
.ikon {
  margin: auto;
  border: none;
  font-size: 2em;
}
.breidd {
	padding: 1em;
	border-right: 2px #23232350 solid;
  display: grid;
}

.title {
	text-align: center;
	font-size: 1.5em;
}

.tekst {
	font-size: 1em;
  height: 3em;
  margin-top: .5em;
}

img {
  width: 100%;
  display: block;
  margin-bottom: .5em;
}

 .bilder_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5em;
}


@media (max-width: 1366px) {


@media (max-width: 1024px) {
  nav {
    font-size: 0.8em;
  }
  footer {
    font-size: 0.8em;
  }
  .bilder_galleri {
    grid-template-columns: 1fr 1fr 1fr;
  }
  p {
    line-height: 1.4em;
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  nav {
    font-size: 0.8em;
  }
  footer {
    font-size: 0.8em;
  }
  .bilder_galleri {
    grid-template-columns: 1fr 1fr;
  }
  .rad_3 {
    display: none;
  }
  .rad_2 {
    display: none;
  }
  p {
    font-size: 0.2em;
    line-height: 1em;
    color: red;
  }
}
