
.grid_om {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5em auto auto;
}

.om_title {
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  margin: 0;
}

.om_p {
  grid-row: 3;
  grid-column: 1;
  width: auto;
  margin-right: 2em;
  text-align: center;
}

.kalle_bilde {
  grid-row: 2/4;
  grid-column: 2;
  margin-right: 2em;
}
img {
  width: 100%;
}

.fas .fa-arrow-circle-dow {
  display: none;
}
