header {
  height: auto;
}
.grid_om {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7em 4em auto auto;
}

.om_title {
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  margin: 0;
  font-size: 3.5em;
}

.om_p {
  grid-row: 3;
  grid-column: 1;
  width: auto;
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 4em;
  z-index: 10;
}

.kalle_bilde {
  grid-row: 2/4;
  grid-column: 2;
  margin-right: 2em;
}
img {
  width: 100%;
}

.pil_breidd {
  display: none;
}

#layer_1 {
  z-index: -1000;
}

.st0 {
  z-index: -999;
}

@media (max-width: 500px) {
  .grid_om {
    margin-left: 2em;
    margin-right: 2em;
  }
  .om_title {
    grid-row: 2;
    grid-column: 1/3;
    font-size: 2.5em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    width: 100%;
  }
  .kalle_bilde {
    grid-row: 3;
    grid-column: 1/3;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
  }
  .om_p {
    grid-row: 4;
    grid-column: 1/3;
    margin-left: 0;
    margin-right: 0;
  }
}
