
header {
  height: 0;
}

.grid_om {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7em 4em auto auto;
}

.om_title {
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  margin: 0;
  font-size: 3.5em;
}

.om_p {
  grid-row: 3;
  grid-column: 1;
  width: auto;
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 4em;
  z-index: 10;
}

.kalle_bilde {
  grid-row: 2/4;
  grid-column: 2;
  margin-right: 2em;
}
img {
  width: 100%;
}

.pil_breidd {
  display: none;
}



.st0 {
  z-index: -999;
}
